<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>
      Start Page | D2R Server
    </title>
    <link rel="stylesheet" type="text/css" href="${home_link}snorql/style.css" />
    <link rel="alternate" type="application/rdf+xml" href="$rdf_link" title="RDF" />
  </head>
  <body>
    <div id="rdficon"><a href="$rdf_link" title="RDF data"><img src="/snorql/rdf_flyer.24.gif" alt="[RDF data]" /></a></div>
    <div class="browser">
    <div id="header">
      <h1 id="title">
        D2R Server
      </h1>
      <div class="subtitle">Running at $home_link</div>
    </div>

    <div class="section">
      <strong>Home</strong>
#if (!$classmap_links.isEmpty())
      | List all instances:
#foreach ($aClassMap in $classmap_links.keySet())
      <a href="$classmap_links.get($aClassMap)">$aClassMap</a>
#end
#end
    </div>
    <div class="section">
      <h2>A Database on the Web</h2>
      <p>This is a database published with D2R Server. You can use the links above to explore the database.</p>
      <p>The database is browsable by <strong>Semantic Web browsers</strong>. To start browsing this database,
        open this entry point URL in your Semantic Web browser:</p>
      <p style="text-align: center"><strong>${home_link}all</strong></p>
    </div>
    </div>

    <div class="snorql">
      <div class="section">
        <h2>SPARQL Endpoint</h2>
        <p>An endpoint for use with external SPARQL clients is available at this endpoint URL:</p>
        <p style="text-align: center"><strong>${home_link}sparql</strong></p>
        <p>Its contents can also be explored with this <a href="/snorql/">Query Form and SPARQL Explorer</a>.</p>
      </div>
    </div>

    <div id="footer">Generated by <a href="http://www.wiwiss.fu-berlin.de/suhl/bizer/d2r-server/">D2R Server</a></div>
  </body>
</html>
