<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>
      All $classmap | $server_name
    </title>
    <link rel="stylesheet" type="text/css" href="${home_link}snorql/style.css" />
    <link rel="alternate" type="application/rdf+xml" href="$rdf_link?output=rdfxml" title="This page in RDF (XML)" />
    <link rel="alternate" type="text/turtle" href="$rdf_link?output=ttl" title="This page in RDF (Turtle)" />
  </head>
  <body class="browser">
    <div id="rdficon"><a href="$rdf_link" title="RDF data"><img src="${home_link}snorql/rdf_flyer.24.gif" alt="[RDF data]" /></a></div>
    <div id="header">
      <h1 id="title">
        All $classmap
      </h1>
      <div class="subtitle">&nbsp;</div>
    </div>

    <div class="section">
      <strong><a href="$home_link">Home</a></strong>
#if (!$classmap_links.isEmpty())
      | 
#if ($truncated_results)
      Example data:
#end
#foreach ($aClassMap in $classmap_links.keySet())
#if ($aClassMap == $classmap)
      <strong>$aClassMap</strong>
#else
      <strong><a href="$classmap_links.get($aClassMap)">$aClassMap</a></strong>
#end
#end
#end
    </div>
    <div class="section">
      <ul class="directory">
#foreach ($resource as $resources.keySet())
        <li>
#if ($resource == $resources.get($resource))
          <a href="$resource">$resource</a>
#else
          <a href="$resource">$resources.get($resource)</a><br />
          <small>$resource</small>
#end
        </li>
#end
      </ul>
#if ($limit_per_class_map)
      <p class="footnote">The server is configured to display only up to $limit_per_class_map entities.</p>
#end
    </div>

    <div id="footer">Generated by <a href="http://d2rq.org/">D2R Server</a></div>
  </body>
</html>
