<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>
#if ($label)
      $label.string | $server_name
#else
      Description of $uri | $server_name
#end
    </title>
    <link rel="stylesheet" type="text/css" href="${home_link}snorql/style.css" />
    <link rel="stylesheet" type="text/css" href="${home_link}static/metadata.css" />

    <link rel="alternate" type="application/rdf+xml" href="$rdf_link?output=rdfxml" title="This page in RDF (XML)" />
    <link rel="alternate" type="text/turtle" href="$rdf_link?output=ttl" title="This page in RDF (Turtle)" />
  </head>
  <body class="browser">
    <div id="rdficon"><a href="$rdf_link" title="RDF data"><img src="${home_link}snorql/rdf_flyer.24.gif" alt="[RDF data]" /></a></div>

    <div id="header">
      <h1 id="title">
#if ($label)
      $label.string
#else
      Description of $uri
#end
      </h1>
      <div class="subtitle">Resource URI: $uri</div>
    </div>

    <div class="section">
      <strong><a href="$home_link">Home</a></strong>
#if (!$classmap_links.isEmpty())
      | 
#foreach ($classmap in $classmap_links.keySet())
      <strong><a href="$classmap_links.get($classmap)">
#if ($truncated_results)
        Example
#else
        All
#end
        $classmap
      </a></strong>
#end
#end
    </div>
    <div class="section">
#if (!$properties.isEmpty())
      <table class="queryresults">
        <tr><th>Property</th><th>Value</th></tr>
#foreach ($property in $properties)
#if ($velocityCount % 2 == 0)
#set ($odd_even = "even")
#else
#set ($odd_even = "odd")
#end
        <tr class="$odd_even">
          <td class="property">
#if ($property.isInverse())
            <small>is</small>
#end
#if ($property.propertyPrefix())
            <a class="uri" href="$property.propertyURI()" title="$property.propertyURI()"><small>$property.propertyPrefix()</small>$property.propertyLocalName()</a>
#else
            <a class="uri" href="$property.propertyURI()" title="$property.propertyURI()"><small>?:</small>$property.propertyLocalName()</a>
#end
#if ($property.isInverse())
            <small>of</small>
#end
          </td>
          <td>
#if ($property.isImg() && $property.value().isURI())
            <a href="$property.value().URI"><img src="$property.value().URI" class="depiction" /></a>
#elseif ($property.valueQName())
            <a class="uri" href="$property.value().URI">$property.valueQName()</a>
#elseif ($property.value().isURI())
            <small>&lt;</small><a class="uri" href="$property.value().URI">$property.value().URI</a><small>&gt;</small>
#elseif ($property.value().isBlank())
            <span class="blank">_:$property.value().BlankNodeLabel</span>
#elseif ($property.value().isLiteral())
            <span class="literal">$property.value().LiteralLexicalForm
#if ($property.value().LiteralDatatype)
            <small>($property.datatypeQName())</small>
#end
#if ($property.value().LiteralLanguage != "")
            <small>($property.value().LiteralLanguage)</small>
#end
            </span>
#end
          </td>
        </tr>
#end
      </table>
#if ($limit_per_property_bridge)
      <p class="footnote">The server is configured to display only a limited number of values (limit per property bridge: $limit_per_property_bridge).</p>
#end
#else
      <p>No textual description available.</p>
#end

 #if ($metadata)
 <br /> <br />
		<a name="meta"></a>
		<h2>Metadata</h2>
		<div id="metadata-tables">
		#set($bnidCount = 0)
		#set($idadd = 0)
		#listProperties ($metadataroot $metadata) 
		</div>
	#end
    </div>

    <div id="footer">Generated by <a href="http://d2rq.org/">D2R Server</a></div>
  </body>
</html>
