<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>
      Start Page | $server_name
    </title>
    <link rel="stylesheet" type="text/css" href="${home_link}snorql/style.css" />
    <link rel="alternate" type="application/rdf+xml" href="$rdf_link?output=rdfxml" title="This page in RDF (XML)" />
    <link rel="alternate" type="text/turtle" href="$rdf_link?output=ttl" title="This page in RDF (Turtle)" />
  </head>
  <body>
    <div id="rdficon"><a href="$rdf_link" title="RDF data"><img src="${home_link}snorql/rdf_flyer.24.gif" alt="[RDF data]" /></a></div>
    <div class="browser">
    <div id="header">
      <h1 id="title">
        $server_name
      </h1>
      <div class="subtitle">Running at $home_link</div>
    </div>

    <div class="section">
      <strong>Home</strong>
#if (!$classmap_links.isEmpty())
      | 
#if ($truncated_results)
      Example data:
#end
#foreach ($aClassMap in $classmap_links.keySet())
      <strong><a href="$classmap_links.get($aClassMap)">$aClassMap</a></strong>
#end
#end
    </div>
    <div class="section">
      <p>This is a database published with D2R Server. It can be accessed using</p>
      <ol><li>your plain old web browser</li>
        <li>Semantic Web browsers</li>
        <li>SPARQL clients.</li></ol>
    </div>
    <div class="section">
      <h2>1. HTML View</h2>
      <p>You can use the navigation links at the top of this page to explore the database.</p>
    </div>
    <div class="section">
      <h2>2. RDF View</h2>
      <p>You can also explore this database with <strong>Semantic Web browsers</strong> 
        like <a href="http://www4.wiwiss.fu-berlin.de/rdf_browser/">Disco</a> or <a href="http://marbles.sourceforge.net">Marbles</a>. To start browsing,
        open this entry point URL in your Semantic Web browser:</p>
      <p style="text-align: center"><strong>${home_link}all</strong></p>
    </div>
    </div>

    <div class="snorql">
      <div class="section">
        <h2>3. SPARQL Endpoint</h2>
        <p>SPARQL clients can query the database at this SPARQL endpoint:</p>
        <p style="text-align: center"><strong>${home_link}sparql</strong></p>
        <p>The database can also be explored using <a href="snorql/">this AJAX-based SPARQL Explorer</a>.</p>
      </div>
    </div>

    <div id="footer">Generated by <a href="http://d2rq.org/">D2R Server</a></div>
  </body>
</html>
