<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">
<web-app>

  <display-name>D2R Server</display-name>

  <!-- Configuration file for running the server in a servlet container.
       Will be ignored if the server is started from the command line. -->
  <context-param>
    <param-name>configFile</param-name>
    <param-value>config-example.ttl</param-value>
  </context-param>

  <listener>
    <listener-class>de.fuberlin.wiwiss.d2rq.server.WebappInitListener</listener-class>
  </listener>

  <!-- SERVLETS -->

  <servlet>
    <!-- The Joseki SPARQL servlet -->
    <servlet-name>SPARQL service processor</servlet-name>
    <servlet-class>org.joseki.http.Servlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ResourceServlet</servlet-name>
    <servlet-class>de.fuberlin.wiwiss.d2rq.server.ResourceServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>ClassMapServlet</servlet-name>
    <servlet-class>de.fuberlin.wiwiss.d2rq.server.ClassMapServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>de.fuberlin.wiwiss.d2rq.server.PageServlet</servlet-class>
    <init-param>
      <param-name>org.apache.velocity.properties</param-name>
      <param-value>/WEB-INF/velocity.properties</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>ResourceDescriptionServlet</servlet-name>
    <servlet-class>de.fuberlin.wiwiss.d2rq.server.ResourceDescriptionServlet</servlet-class>
  </servlet>
  
  
  <servlet>
    <servlet-name>DatasetDescriptionServlet</servlet-name>
    <servlet-class>de.fuberlin.wiwiss.d2rq.server.DatasetDescriptionServlet</servlet-class>
  </servlet>
  
  
  <servlet>
    <servlet-name>DirectoryServlet</servlet-name>
    <servlet-class>de.fuberlin.wiwiss.d2rq.server.DirectoryServlet</servlet-class>
    <init-param>
      <param-name>org.apache.velocity.properties</param-name>
      <param-value>/WEB-INF/velocity.properties</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>RootServlet</servlet-name>
    <servlet-class>de.fuberlin.wiwiss.d2rq.server.RootServlet</servlet-class>
    <init-param>
      <param-name>org.apache.velocity.properties</param-name>
      <param-value>/WEB-INF/velocity.properties</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>NamespaceServlet</servlet-name>
    <servlet-class>de.fuberlin.wiwiss.d2rq.server.NamespaceServlet</servlet-class>
  </servlet>
  
  <!-- MAPPINGS -->

  <servlet-mapping>
    <servlet-name>SPARQL service processor</servlet-name>
    <url-pattern>/sparql</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/resource/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DatasetDescriptionServlet</servlet-name>
    <url-pattern>/dataset</url-pattern>
  </servlet-mapping> 
  
    <servlet-mapping>
    <servlet-name>DatasetDescriptionServlet</servlet-name>
    <url-pattern>/.well-known/void</url-pattern>
  </servlet-mapping> 
  
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/vocab/resource/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ClassMapServlet</servlet-name>
    <url-pattern>/all/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ClassMapServlet</servlet-name>
    <url-pattern>/all</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/page/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/vocab/page/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ResourceDescriptionServlet</servlet-name>
    <url-pattern>/data/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ResourceDescriptionServlet</servlet-name>
    <url-pattern>/vocab/data/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DirectoryServlet</servlet-name>
    <url-pattern>/directory/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RootServlet</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>NamespaceServlet</servlet-name>
    <url-pattern>/snorql/namespaces.js</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
